.tooltip{
  visibility: hidden;
  position: absolute;
  top: -40px;
  left: 7px;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: #192733;
  padding: 5px 15px;
  
}
.hover-text ,.hover-text-js {
    width:80px;
    
    text-align: center;
    background-color: #192733;
    padding: 5px 10px;
    color: wheat;
    cursor: pointer;
  }
  .hover-text:hover .tooltip {
    visibility: visible;
  }
  .box{
    margin-left: 40px;
  }
  .hover-text{
    position: relative;
    margin: 40px;
  }
  .hover-text-js{
    margin-top:5px;
  }
  .tooltipjs{
    margin-left: 25px;
    background-color: #1927335b;
    padding: 3px 5px;
    visibility: hidden;
  }
  .active{
    visibility: visible;
  }
